{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":11,"column":0},"end":{"row":11,"column":31},"action":"remove","lines":["  # Submitted by: ElliotHaughin"],"id":45}],[{"start":{"row":10,"column":61},"end":{"row":11,"column":0},"action":"remove","lines":["",""],"id":46}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":61},"end":{"row":10,"column":61},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1465194517677,"hash":"300030dca5b65de8405bf33eeb2db21137055efe"}